<!doctype html>
<html>
<head>
</head>
<body>
<p>
DAY 1
Start early from Delhi/Chandigarh/(or place nearby). Try to reach at least Narkanda by evening. Check-in to the hotel, freshen up and enjoy the sunset at the Hatu peak.

DAY 2
Again start early, check-out of the hotel and take the road towards Kinnaur valley and reach Kalpa by evening. This is around 6-8 hours of drive through the famous NH-22 till Powari. At Powari, there will be diversion cutting upwards to Reckong Peo. Take the diversion and drive upwards to reach Kalpa which is around 20-30 km from the diversion. Check-in to the hotel with a beautiful scenery from the balcony, freshen up and come out to discover the local culture at Kalpa.

DAY 3
Wake up early and experience the sunrays emerging out of the snow-clad mountains. Have breakfast, checkout of the hotel and head towards the Suicide Point and Roghi Village. Spend some time there, then drive back towards Reckong Peo and then downwards to Powari. On connecting to NH-22, drive towards Karchham. Here take the diversion towards Sangla by crossing the bridge over Sutlej. Drive on this road passing through Sangla to reach today’s destination i.e. Chitkul. Check-in to the hotel and acclimatize to the atmosphere here. Visit the army post which is 3 kms from the village and discover the heavenly village of Chitkul.

DAY 4
Wake up and get ready early to start the journey back. Check-out of the hotel and bid farewell to the alluring Himalayas.
</p>
</body>
</html>